In [1]:
from refactoring_for_clarity import TradeProcessor, StreamReader
import sqlalchemy as sa
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, MetaData
import pandas as pd

In [2]:
engine = sa.create_engine('sqlite:///trades.db', echo=False)
Base = declarative_base()

class TradeDataBase(Base):
        __tablename__ = 'trade_table'
        id   = Column(Integer, primary_key=True)
        source_currency  = Column(String)
        destination_currency  = Column(String)
        lots  = Column(Float)
        price = Column(Float)
        
Base.metadata.create_all(bind=engine)

In [3]:
def stream():
    x = 100
    while x < 102:
        yield 'GBPUSD,' + str(x) + ',0.81'
        x += 1

In [4]:
reader = StreamReader(stream())

In [5]:
reader.read_line()

'GBPUSD,100,0.81'

In [6]:
reader.read_line()

'GBPUSD,101,0.81'

In [7]:
trader = TradeProcessor()

In [8]:
trader.process_trades(stream())

INFO: 2 trades processed

In [9]:
df = pd.read_sql('trade_table', engine)

In [10]:
df

    id source_currency destination_currency     lots  price
0    1             GBP                  USD  0.00100   0.81
1    2             GBP                  USD  0.00101   0.81
2    3             GBP                  USD  0.00100   0.81
3    4             GBP                  USD  0.00101   0.81
4    5             GBP                  USD  0.00100   0.81
5    6             GBP                  USD  0.00101   0.81
6    7             GBP                  USD  0.00100   0.81
7    8             GBP                  USD  0.00101   0.81
8    9             GBP                  USD  0.00100   0.81
9   10             GBP                  USD  0.00101   0.81
10  11             GBP                  USD  0.00100   0.81
11  12             GBP                  USD  0.00101   0.81
12  13             GBP                  USD  0.00100   0.81
13  14             GBP                  USD  0.00101   0.81